$color-light-black: #525151;
$color-smoke-blue: #f1f4fa;
$color-footer: #0b5ed7;
$color-white: white;
$color-red: red;
$color-green: green;

// FONT
$nav-font-size: 1.6rem;
$nav-paragraph-size: 1.6rem;
$nav-btn-size: 1.8rem;
$nav-covid-card-text-size: 2rem;
$nav-card-heading-prevent: 3.2rem;
// header-heading
$header-text-size: 8rem;

//card-text
$covid-card-text-size: 4.8rem;

$border-radius: 20px;
