.contact {
  overflow: hidden;
  .row {
    width: 100%;
    border-radius: 20px;
    background-image: url("/HTML_CSS_projects/Project_5_Hospital_Complete_Website/img/doctor.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    box-shadow: 0px 20px 20px gray;
    transition: all 0.5s ease-in-out;
    transform: translateY(0px);

    &:hover {
      box-shadow: 0px 5px 5px gray;
      transform: translateY(-2px);
    }
    .col11 {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 77% 100%, 0% 100%);
      background-color: rgba($color-smoke-blue, 0.9);
      border-radius: 20px;
    }
    .col {
      form {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 40px;
        h1 {
          font-size: $nav-card-heading-prevent;
        }
        input {
          padding: 15px 20px;
          border: 1px solid gray;
          border-radius: 7px;
          width: 400px;
          font-size: $nav-paragraph-size;
          border: none;
        }
        textarea {
          @extend input;
        }
      }
    }
  }
}
