.medicin_header {
  @include medicin_header;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
  position: relative;
  .single_medicin {
    width: 120px;
    position: absolute;
    top: 50px;
    @include respond(medium-desktop) {
      width: 100px;
    }
    @include respond(small-phone) {
      width: 80px;
    }
  }
  .med1 {
    left: 100px;
    @include respond(small-phone) {
      left: 0px;
    }
  }
  .med2 {
    top: 50vh;
    right: 100px;
    @include respond(small-phone) {
      right: 10px;
    }
  }
  .med3 {
    right: 50px;
    @include respond(small-phone) {
      right: 10px;
    }
  }
  &__img {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(20, 115, 183, 0.7)
      ),
      url("/HTML_CSS_projects/Project_5_Hospital_Complete_Website/img/logo-product.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  &__text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: $header-text-size;
    color: $color-light-black;
  }
}

.medicin_container {
  position: relative;
  &__outstyle2 {
    clip-path: circle(50% at 50% 50%);
    background-image: url("../../img/doctor.jpg");
    background-position: left;
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -170px;
    right: 0px;
    @include respond(small-phone) {
      width: 100px;
      height: 100px;
    }
  }
  .medicin_products {
    display: flex;
    flex-direction: column;
    &--h1 {
      font-size: $covid-card-text-size;
      margin-bottom: 20px;
      color: $color-light-black;
      @include respond(small-phone) {
        font-size: 3.7rem;
      }
      @include respond(extra-small-phone) {
        font-size: 3rem;
      }
    }
    &--p {
      text-align: justify;
      line-height: 40px;
      font-size: $nav-paragraph-size;
      margin-bottom: 50px;
    }
    .notallowed {
      cursor: not-allowed;
    }
  }
}
